<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="myScrumBoard.Properties.Settings.ScrumTableDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\ScrumTableDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="myScrumBoard.Properties.Settings.ScrumTableDBConnectionString1"
            connectionString="Data Source=DESKTOP-PPE8EJF;Initial Catalog=ScrumTableDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>